html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: $m-size;
  background: $dark-blue;
  background: url('/images/bg.jpg');
}

button {
  cursor: pointer;
}

button:disabled{
  cursor: default;
}
